body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #2f4f4f;
  background-image: url("./img/react-background.jpeg");
  background-repeat: round;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 25px;
  background-color: #000000;
  border: 1px solid black;
}
.nav > .h3 {
  font-weight: 600;
  color: white;
}
.nav > .logo {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.nav .facts {
  color: #00ffff;
  font-size: 30px;
  /* h1 title */
  letter-spacing: -0.05em;
}
.main--ul {
  margin-top: 45px;
  max-width: 350px;
}

.main > h1 {
  /* h1 title */
  font-size: 39px;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.img {
  width: 80px;
}

.main {
  min-height: calc(100vh - 100px);
  color: white;
  padding: 10px 25px;
}

.main--ul > li {
  padding-block: 10px;
}

.main--ul > li::marker {
  color: #00ffff;
  font-size: 1.5em;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bolder;
  padding: 20px;
}
